@charset "utf-8";
// $family-sans-serif: "Nunito",
// sans-serif;
@import url('https://fonts.googleapis.com/css?family=Athiti:400,600&display=swap');
$family-sans-serif: "Athiti",
sans-serif;
$family-serif: "Athiti",
sans-serif;
// * {
//     font-family: 'Athiti', sans-serif;
// }
$body-family: "Athiti",
sans-serif;
$purple: #8A4D76;
$bluegray: rgb(78,
122,
143);
$primary: $bluegray;
$info: $bluegray;
#logEntryGrid tr button {}

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/elements/table.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');