<div class="tabs is-medium is-centered">
    <ul>
        <li [ngClass]="{ 'is-active': currentPage == 'logging' }" (click)="currentPage = 'logging'"><a>Log things</a></li>
        <li (click)="currentPage = 'history'" [ngClass]="{ 'is-active': currentPage == 'history' }"><a>History</a></li>
    </ul>
</div>

<div class="columns is-centered">
    <div class="column is-half">

        <form #form="ngForm" *ngIf="currentPage == 'logging'">


            <label for="registered" class="label">Date</label>
            <input class="input" type="date" name="registered" [(ngModel)]="registered">

            <div *ngFor="let logType of logTypes;let index = index;" class="control">
                
                <label [attr.for]="logType.name" class="label">{{ logType.name }}</label>

                <span class="select" *ngIf="logType.dataType == 1">
                <select  *ngIf="logType.dataType == 1" [name]="logType.name" [(ngModel)]="logEntries[index].numberValue" >
                    <option [ngValue]="1">Really bad</option>
                    <option [ngValue]="2">Bad</option>
                    <option [ngValue]="3">Ok</option>
                    <option [ngValue]="4">Good</option>
                    <option [ngValue]="5">Really good</option>
                </select>
                </span>

                <div *ngIf="logType.dataType == 0">
                    <input [ngClass]="{ 'is-loading': isLoading }" *ngIf="logType.dataType == 0" class="input" type="text" [attr.name]="logType.name">
                </div>

            </div>

            <p class="control">
                <button type="click" class="is-primary button is-pulled-right" name="submit" (click)="createLogDay()"> Register </button>
            </p>

        </form>

        <div *ngIf="currentPage === 'history'">
            <h3>Here comes history</h3>

            <table class="table">
                <thead>
                    <!--<tr>
                        <th *ngFor="let header of headers">{{ header }}</th>
                    </tr>-->
                </thead>
                <tbody>
                    <tr *ngFor="let day of loggedDays">
                        <td *ngFor="let entry of day.logEntries">
                            {{ entry.numberValue }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>