<div class="tabs is-medium is-centered">
    <ul>
        <li [ngClass]="{ 'is-active': currentPage == 'logging' }" (click)="currentPage = 'logging'"><a>Log things</a></li>
        <li (click)="currentPage = 'history'" [ngClass]="{ 'is-active': currentPage == 'history' }"><a>History</a></li>
    </ul>
</div>

<div class="columns is-centered">
    <div class="column is-half">

        <form *ngIf="currentPage == 'logging'">
            <div *ngFor="let logType of logTypes" class="control">
                <label [attr.for]="logType.name" class="label">{{ logType.name }}</label>

                
                <select  [attr.name]="logType.name" class="select" *ngIf="logType.id == 1">
                    <option value="1">Really bad</option>
                    <option value="2">Bad</option>
                    <option value="3">Ok</option>
                    <option value="4">Good</option>
                    <option value="5">Really good</option>
                </select>
                <!--<input type="text" class="input" [attr.name]="logType.name" value="">-->
            </div>

            <p class="control">
                <input type="submit" class="is-primary button is-pulled-right" name="submit" (submit)="createLogDay()" value="Save">
            </p>

        </form>

        <div *ngIf="currentPage === 'history'">
            <h3>Here comes history</h3>

            <table class="table">
                <thead>
                    <tr>
                        <th *ngFor="let header of headers">{{ header }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of data">
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>