<div class="tabs is-medium is-centered">
    <ul>
        <li [ngClass]="{ 'is-active': currentPage == 'logging' }" (click)="currentPage = 'logging'"><a>Log things</a></li>
        <li (click)="currentPage = 'history'" [ngClass]="{ 'is-active': currentPage == 'history' }"><a>History</a></li>
    </ul>
</div>

<div class="columns is-centered">
    <div class="column is-half">

        <form *ngIf="currentPage == 'logging'">

            <div *ngFor="let item of data" class="control">
                <label [attr.for]="item.type.name" class="label">{{ item.type.name }}</label>
                <input type="text" class="input" [attr.name]="item.type.name" value="">
            </div>

            <p class="control">
                <input type="submit" class="is-primary button is-pulled-right" name="submit" value="Save">
            </p>

        </form>

        <div *ngIf="currentPage === 'history'">
            <h3>Here comes history</h3>

            <table class="table">
                <thead>
                    <tr>
                        <th *ngFor="let header of headers">{{ header }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of data">
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>