@page
@model IndexModel
@{
    ViewData["Title"] = "Healthtracker";
}

@{ if (User.Identity.IsAuthenticated)
    {
<div id="app" class="section ">


    <div class="columns">
        <div class="column"></div>
        <div class="column is-half">
            <transition name="slide-fade">
                <div v-if="logEditorOpen">
                    <div class="" id="logForm">
                        <div class="field">
                            <label class="label has-text-grey" for="">Date</label>
                            <div class="control">
                                <input class="input" v-model="selectedLog.date" type="date" placeholder="Todays date (placeholder)">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label has-text-grey" for="feeling">How well do you feel?</label>
                            <div class="control">
                                <div class="select">
                                    <select class="" v-model="selectedLog.feeling" name="feeling" id="feelingSelect">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="field has-addons pt-15">
                            <div class="control">
                                <input class="input" type="text" name="newActivity" value="" autocomplete="off" v-model="newActivity" v-on:keyup.enter="addActivity(newActivity)" v-on:keyup="searchActivity(newActivity)" placeholder="Activity" />
                            </div>
                            <div class="control">
                                <a class="button" :disabled="!newActivity" v-on:click="addActivity(newActivity)">
                                    <span>Add activity</span>
                                    <span class="icon is-small">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="field pb-20" v-if="activitySearchResult.length > 0">
                            <div class="control">
                                <div class="tags">
                                    <div v-for="act in activitySearchResult" class="tag button" v-on:click="addActivity(act)">
                                        <span class="">
                                            {{ act }}
                                        </span>
                                        <span class="icon is-small">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <div class="tags">
                                    <div v-for="act in suggestionNotInActivities" class="tag button" v-on:click="addActivity(act)">
                                        <span class="">
                                            {{ act }}
                                        </span>
                                        <span class="icon is-small">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <div class="tags">
                                    <span v-for="act in selectedLog.activities" class="tag is-info button" v-on:click="removeFromActivities(act)">
                                        {{ act.name }}
                                        <button class="delete is-small"></button>
                                    </span>
                                </div>
                            </div>
                        </div>


                        <div class="field has-addons pt-20">
                            <div class="controll">
                                <input class="input" type="text" name="newSupp" value="" autocomplete="off" v-model="newSupp" v-on:keyup.enter="addSupplement(newSupp)" placeholder="Supplement" />
                            </div>
                            <div class="control">
                                <a class="button" :disabled="!newSupp" v-on:click="addSupplement(newSupp)">
                                    <span>Add supplement/meds</span>
                                    <span class="icon is-small">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <div class="tags">
                                    <div v-for="supp in suggestionNotInSupplements" class="tag button" v-on:click="addSupplement(supp)">
                                        <span class="">
                                            {{ supp }}
                                        </span>
                                        <span class="icon is-small">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <div class="tags">
                                    <span v-for="supp in selectedLog.supplements" class="tag is-info button" v-on:click="removeFromSupplements(supp)">
                                        {{ supp }}
                                        <button class="delete is-small"></button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="field pt-20">
                            <label class="label has-text-grey" for="">Notes</label>
                            <div class="control">
                                <textarea v-model="selectedLog.comment" name="commentArea" class="textarea" id="" cols="30" rows="4"></textarea>
                            </div>
                        </div>

                        <div class="field" id="formActionButtons">
                            <div class="control">
                                <div></div>
                                <button class="button is-small " v-on:click="resetLogEdit">Cancel</button>
                            </div>
                            <div class="control">
                                <div class="is-pulled-right">
                                    <button class="button is-info" v-on:click="postLog">Submit</button>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </transition>
        </div>

        <div class="column">
        </div>

    </div>



    <div class="" id="logViewer">
        <div class="level">
            <nav class="pagination level-item" role="navigation" aria-label="pagination">
                <ul class="pagination-list">
                    <li>
                        <a v-if="currentLogPage > 1" class="pagination-link" aria-label="Goto page 45" v-on:click="previousPage()">{{ currentLogPage - 1 }}</a>
                        <a v-if="currentLogPage <= 1" class="pagination-link" aria-label="Goto page 45"></a>
                    </li>
                    <li>
                        <a class="pagination-link is-current" aria-label="Page 46" aria-current="page">{{currentLogPage}}</a>
                    </li>
                    <li>
                        <a v-if="logEntries.length > 9" class="pagination-link" aria-label="Goto page 47" v-on:click="nextPage()">{{ currentLogPage + 1}}</a>
                        <a v-if="logEntries.length < 10" class="pagination-link" aria-label="Goto page 45"></a>
                    </li>
                </ul>
            </nav>
            <div class="level-right">
                <div class="level-item ">
                    <div class="columns ">
                        <div class="column">
                            <input class="input" type="text" name="search" value="" autocomplete="off" v-model="search" v-on:change="searchLogs(logs)" placeholder="Search" />
                        </div>
                    </div>
                </div>
                <div class="level-item" v-if="!logEditorOpen">
                    <a class="button is-info" v-on:click="addNewLog">
                        <span class="icon">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span>Add log</span>
                    </a>
                </div>
            </div>
        </div>


        <div class="tile is-ancestor " v-for="entry in orderedLogs" v-on:dblclick="editLog(entry)" v-on:click="selectedLog=entry" v-bind:class="{ selectedRow: entry == selectedLog }">
            <div class="tile is-parent logparent">
                <article class="tile is-child box is-3">
                    <p class="title is-6 has-text-grey">Day</p>
                    @*<p class=""><span>Date</span></p>*@
                    <p  class="has-text-weight-semibold">{{ entry.date | dateFormat }}</p>
                    <span>
                        <span class="has-text-grey">Feeling about</span>
                        <span class="has-text-weight-semibold">{{ entry.feeling }}</span>
                    </span>
                    <div class="is-pulled-right">
                        <button v-if="entry == selectedLog" class="button" v-on:click="editLog(entry)"><i class="fas fa-edit"></i> </button>
                        <button v-if="entry == selectedLog" class="button" v-on:click="deleteLog(entry)"><i class="fas fa-trash"></i> </button>
                    </div>
                </article>
                <article class="tile is-child box is-3">
                    <p class="title is-6 has-text-grey">Comment</p>
                    <p>{{ entry.comment }}</p>
                </article>
                <article class="tile is-child box is-3" v-if="entry.sleep || entry.restingHeartrate">
                    <p class="title is-6 has-text-grey">Body & sleep</p>

                    <p>
                        <span class="">{{ entry.sleep | sleepFormat }}</span><span class="has-text-grey"> hours sleep</span>
                    </p>
                    <p>
                                                                        <span class="">{{ entry.restingHeartrate }}</span>
                                                                        <span class="has-text-grey">resting heart rate</span>
                                                                    </p>

                </article>
                <article class="tile is-child box  is-3" v-if="entry.activity || entry.fitbitActivities || entry.activities">
                    <p class="title is-6 has-text-grey">Activities</p>
                    <div v-for="act in entry.activities"><span>{{ act.name }}</span><br /></div>
                    <div class="" v-for="act in entry.fitbitActivities"> <strong>{{ act.activityName }}</strong> - {{ act.originalStartTime.substring(11) }}:{{ act.originalStartTime.minutes }} - {{ (act.activeDuration / 1000 / 60) | sleepFormat }} minutes<br /></div>

                </article>
                <article class="tile is-child box is-3" v-if="entry.supplements">
                    <p class="title is-6 has-text-grey">Supplements/medicines</p>
                    <div v-for="supp in entry.supplements"><span>{{ supp }}</span><br /></div>

                </article>
            </div>
        </div>
    </div>
</div>

        <template>
            <form @@submit.prevent="submit" class="vld-parent" ref="formContainer">
                <!-- your form inputs goes here-->
                <label><input type="checkbox" v-model="fullPage">Full page?</label>
                <button type="submit">Login</button>
            </form>
        </template>

        }
    }