@page
@model Healthtracker.Web.Pages.IntegrationsModel
@{
    ViewData["Title"] = "Integrations";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="title is-4">Integrations</div>

<environment include="Development">
    <a class="button is-large" href="https://www.fitbit.com/oauth2/authorize?response_type=code&client_id=22DR79&redirect_uri=https%3A%2F%2Flocalhost%3A44354%2Fsignin-fitbit&scope=activity%20heartrate%20sleep%20weight&expires_in=604800">
        <span class="icon is-medium">
            <i class="fas fa-running fa"></i>
        </span>
        <span>Synchronize Fitbit</span>
    </a>
</environment>
<environment exclude="Development">
    <a class="button is-large" href="https://www.fitbit.com/oauth2/authorize?response_type=code&client_id=22DR79&redirect_uri=https%3A%2F%2Fhealth.bonto.site%2Fsignin-fitbit&scope=activity%20heartrate%20sleep%20weight&expires_in=604800">
        <span class="icon is-medium">
            <i class="fas fa-running fa"></i>
        </span>
        <span>Synchronize Fitbit</span>
    </a>
</environment>
